body{
margin:0;
font-family:Inter,system-ui;
color:#e2e8f0;

background:
radial-gradient(circle at 20% 20%,#1e293b 0%,transparent 40%),
radial-gradient(circle at 80% 10%,#0ea5e9 0%,transparent 35%),
radial-gradient(circle at 50% 90%,#0f172a 0%,transparent 40%),
#020617;

max-width:1400px;
margin:auto;
}



.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:30px 60px;
border-bottom:1px solid rgba(148,163,184,.1);
}

.header h1{
font-size:28px;
color:#38bdf8;
}



.env-badge{
background:#22c55e;
color:black;
padding:6px 14px;
border-radius:20px;
font-weight:600;
}



.hero{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:24px;
padding:40px 60px;
}



.hero-card{
background:rgba(15,23,42,.75);
border:1px solid rgba(148,163,184,.15);
padding:30px;
border-radius:16px;
text-align:center;
backdrop-filter:blur(12px);
}



.hero-card h4{
font-size:12px;
letter-spacing:2px;
color:#64748b;
margin-bottom:10px;
}



.hero-card p{
font-size:40px;
font-weight:700;
color:#38bdf8;
text-shadow:0 0 12px rgba(56,189,248,.6);
}



.section-title{
margin:40px 60px 10px;
font-size:12px;
letter-spacing:3px;
color:#94a3b8;
}



.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:24px;
padding:0 60px;
align-items:stretch;
}



.card{
background:rgba(15,23,42,.75);
border:1px solid rgba(148,163,184,.15);
padding:26px;
border-radius:16px;
backdrop-filter:blur(12px);

display:flex;
flex-direction:column;
justify-content:center;

transition:.25s;
min-height:140px;
}



.card:hover{
transform:translateY(-6px);
border-color:#38bdf8;
box-shadow:
0 12px 40px rgba(0,0,0,.7),
0 0 10px rgba(56,189,248,.2);
}



.card h4{
font-size:12px;
letter-spacing:1px;
color:#64748b;
margin-bottom:8px;
}



.card p{
font-size:18px;
font-weight:600;
}



.chart{
height:280px;
}



canvas{
max-height:220px;
}



.status-green{
color:#22c55e;
}



.dot{
height:10px;
width:10px;
border-radius:50%;
display:inline-block;
margin-right:6px;
}



.green{
background:#22c55e;
box-shadow:0 0 10px #22c55e;
}



.red{
background:#ef4444;
box-shadow:0 0 10px #ef4444;
}



footer{
margin:60px 0;
text-align:center;
color:#64748b;
font-size:14px;
}
